.aboutContainer {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  color: #333;
}
